.heroImage {
  height: 100vh;
}

.title {
  text-align: center;
}

.blogPostsSection {
  text-align: center;
}

.blogPostLink {
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: attr(data-number);
    padding-right: 1em;
  }
}

.main {
  padding-bottom: 10em;
}
